<div *ngIf="hero">
  <h2>{{ hero.name }} hero details</h2>
  <div><span>ID: </span>{{ hero.id }}</div>
  <div>
    <label for="hero-name">Name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
  </div>
  <div>
    <label for="hero-stars">Stars: </label>
    <input id="hero-stars" [(ngModel)]="hero.stars" placeholder="Hero stars" />
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
